In [2]:
import numpy as np
import pandas as pd
import os

# Read data

In [14]:
city_temp_file = os.path.join(
    os.environ['HOME'], 
    'data',
    'global-temperature',
    'GlobalLandTemperaturesByCity.csv')
global_temp_file = os.path.join(
    os.environ['HOME'], 
    'data',
    'global-temperature',
    'GlobalTemperatures.csv')

In [15]:
csv_city_temp = pd.read_csv(city_temp_file)
global_temp = pd.read_csv(global_temp_file)

In [11]:
csv_city_temp[:5]

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [12]:
global_temp[:5]

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

# Explore distributions

In [23]:
global_temp['dt'] = pd.to_datetime(global_temp['dt'])
global_temp['year'] = global_temp['dt'].dt.to_period('Y')

# TODOs
- Strata sampling
- Re-explore distributions after sampling
- Fill N/As